<footer class="footer-ecosa">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4">

                <h4>ECOSA</h4>

                <p>
                    Importadores y distribuidores de productos
                    para ferretería, industria y construcción.
                </p>

            </div>

            <div class="col-lg-2">

                <h6>Navegación</h6>

                <ul>
                    <li>Inicio</li>
                    <li>Marcas</li>
                    <li>Catálogo</li>
                </ul>

            </div>

            <div class="col-lg-3">

                <h6>Información</h6>

                <ul>
                    <li>Quiénes Somos</li>
                    <li>Políticas</li>
                    <li>Contacto</li>
                </ul>

            </div>

            <div class="col-lg-3">

                <h6>Contacto</h6>

                <p>
                    +56 2 2380 9000
                </p>

                <p>
                    ventas@ecosa.cl
                </p>

            </div>

        </div>

        <hr>

        <div class="text-center">

            © 2026 ECOSA

        </div>

    </div>

</footer>