{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="{% static 'images/logo-ecosa.png' %}" alt="ECOSA" height="55" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMain"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/">Inicio</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/catalogo/">
            Catálogo
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'nosotros' %}">
            Nosotros
          </a>
        </li>
      </ul>

      <div class="d-flex align-items-center gap-2 mt-3 mt-lg-0">

        <a
          href="/catalogo/"
          class="btn btn-ecosa btn-sm px-3"
        >
          Ver Catálogo
        </a>

        <a
          href="/catalogo/login/"
          class="btn btn-outline-secondary btn-sm px-3"
        >
          Administrador
        </a>

      </div>

    </div>
  </div>
</nav>